<form action="/productos" method="POST">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombreProduct" name="nombre" /><br /><br />
  <label for="price">Price:</label>
  <input type="text" id="priceProduct" name="price" /><br /><br />
  <label for="thumbnail">Thumbnail:</label>
  <input type="text" id="thumbnailProduct" name="thumbnail" /><br /><br />
  <input type="submit" id="submitProduct" value="Submit" />
</form>